
  .navbar{
    margin-bottom: 0;
    border-radius: 0;
  }


  #about-pic{
    background-image: url(/images/calm-scenary.jpeg);
  }

  #home{
    background-image: url(/images/UCSD.jpg);
    background-size: cover;

    min-height: 700px;
  }

  #team-pic{
    background-color: green;
  }
