
  .navbar{
    margin-bottom: 0;
    border-radius: 0;
  }


  #about-pic{
    background-image: url(/images/calm-scenary.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #home{
    background-image: url(/images/UCSD.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
  }

  #team-pic{
    background-color: green;
  }

  #demo{
    background-color: red;
  }
